@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px 0;
  position: relative;
}
header img {
  max-width: 50%;
}
header a {
  position: absolute;
  left: 20px;
}
header a i {
  font-size: 25px;
  color: black;
}

.entete_menu {
  z-index: 1;
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entete_menu img {
  width: 100%;
  height: auto;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: -50px;
}
.menu .title_restaurant_menu {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 0 0;
}
.menu .title_restaurant_menu h3 {
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  padding-left: 15px;
  font-size: 25px;
}
.menu .title_restaurant_menu i {
  color: black;
  margin: 15px;
  font-size: 20px;
  padding-right: 15px;
}
.menu .title_restaurant_menu .like_animation_up {
  font-size: 20px;
  display: none;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu h4 {
  font-weight: 400;
  padding-bottom: 5px;
  width: 40px;
  border-bottom: 4px solid #99e2d0;
  margin-left: 15px;
  align-self: flex-start;
}
.menu .element_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .element_menu .choice_menu {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0px 12px;
  box-shadow: 2px 2px 10px #dadbdb;
  width: 85%;
  height: 64px;
  animation: apparition 1.5s forwards;
}
.menu .element_menu .choice_menu .container_prix {
  display: flex;
  flex-direction: row;
}
.menu .element_menu .choice_menu .container_menu {
  overflow: hidden;
}
.menu .element_menu .choice_menu .title_menu {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .element_menu .choice_menu .subtitle_menu {
  font-weight: lighter;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .element_menu .choice_menu .price_menu {
  font-weight: bold;
  align-self: flex-end;
  text-align: center;
  padding: 33px 20px 12px 10px;
}
.menu .element_menu .choice_menu .check_menu {
  position: relative;
  margin-right: -72px;
  display: flex;
  justify-content: center;
  background-color: #99e2d0;
  padding: 21px 0;
  width: 60px;
  transition: margin-right 1s;
}
.menu .element_menu .choice_menu .check_menu i {
  color: white;
  font-size: 22px;
}
.menu .element_menu .choice_menu:hover .check_menu {
  margin-right: -12px;
}
.menu .element_menu .choice_menu:hover .check_menu i {
  animation: rotate-check 1s;
}
.menu .element_menu .menu_entre:nth-child(3) {
  animation-delay: 0.2s;
}
.menu .element_menu .menu_entre:nth-child(4) {
  animation-delay: 0.4s;
}
.menu .element_menu .menu_entre:nth-child(5) {
  animation-delay: 0.6s;
}
.menu .element_menu .menu_plat:nth-child(2) {
  animation-delay: 0.8s;
}
.menu .element_menu .menu_plat:nth-child(3) {
  animation-delay: 1s;
}
.menu .element_menu .menu_plat:nth-child(4) {
  animation-delay: 1.2s;
}
.menu .element_menu .menu_plat:nth-child(5) {
  animation-delay: 1.4s;
}
.menu .element_menu .menu_dessert:nth-child(2) {
  animation-delay: 1.4s;
}
.menu .element_menu .menu_dessert:nth-child(3) {
  animation-delay: 1.6s;
}
.menu .element_menu .menu_dessert:nth-child(4) {
  animation-delay: 1.8s;
}
.menu .element_menu .menu_dessert:nth-child(5) {
  animation-delay: 2s;
}

@keyframes rotate-check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.like-container:hover .like_animation {
  display: none;
}
.like-container:hover .like_animation_up {
  display: block !important;
  animation: like_animation 1s;
}

@keyframes like_animation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.section_commander_menu {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 80px 0;
}
.section_commander_menu a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  z-index: 1;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #9a9c9c;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
}
.section_commander_menu a::after {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #9a9c9c;
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  color: white;
  transition: opacity 250ms, box-shadow 250ms;
}

.section_commander_menu a:hover::after {
  opacity: 1;
  box-shadow: 5px 5px 20px #9a9c9c;
}

footer {
  background-color: #353434;
  color: white;
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}
footer div h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 10px;
}
footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer nav ul li {
  display: flex;
  flex-direction: row;
  padding: 6px 0px;
  font-size: 16px;
  font-weight: 300;
}
footer nav ul li i {
  width: 16px;
  height: 16px;
  padding-right: 12px;
}
footer nav ul li p {
  margin: 0;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style_menu.css.map */
