// Importation librairie - roboto light/regular/bold - Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");

// @import url(scss/animation);

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

$colorprimaire: #9356dc;
$colorsecondaire: #ff79da;
$colortertiaire: #99e2d0;
$colorbackgroundfooter: #353434;
$colorbackgroundsection: #f6f6f6;

// loader

.loader {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: loader-duration 2s forwards;
  div {
    display: flex;
    flex-direction: row;
  }
  .point {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 15px;
    animation: pulse infinite 0.3s alternate;
  }
  .p1 {
    background: $colorprimaire;
  }
  .p2 {
    animation-delay: 0.1s;
    background: $colorsecondaire;
  }
  .p3 {
    animation-delay: 0.2s;
    background: $colortertiaire;
  }
  p {
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
    color: $colorprimaire;
  }
}

// keyframes loader

@keyframes loader-duration {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  100% {
    transform: translateY(-30px);
  }
}

// header

header {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 0px 1px 5px #9a9c9c;
  position: relative;
  z-index: 1;
  img {
    max-width: 50%;
  }
}

// section_position

.section_position {
  background-color: #eaeaea;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9em;
  i {
    width: 16px;
    height: 16px;
    padding-right: 5px;
  }
}

// section en-tete et bouton lien menu

.accueil {
  background-color: $colorbackgroundsection;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0px 50px 0px;
  div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 20px;
      padding-bottom: 15px;
    }
    p {
      font-size: 15px;
      font-weight: 300;
      padding-bottom: 25px;
    }
    a {
      position: relative;
      z-index: 1;
      background: linear-gradient(
        to top left,
        $colorprimaire,
        $colorsecondaire
      );
      height: 50px;
      width: 220px;
      border-radius: 25px;
      box-shadow: 2px 2px 10px #9a9c9c;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms, box-shadow 250ms;
        background: linear-gradient(
          to top left,
          lighten($colorprimaire, 5),
          lighten($colorsecondaire, 5)
        );
        height: 50px;
        width: 220px;
        border-radius: 25px;
        box-shadow: 2px 2px 10px #9a9c9c;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
      }
    }
  }
}

// animation btn survol

.accueil {
  a:hover {
    &::after {
      opacity: 1;
      box-shadow: 5px 5px 20px #9a9c9c;
    }
  }
}

// fonctionnement

.fonctionnement {
  padding-bottom: 40px;
  .title_fonctionnement {
    padding: 30px 0px 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-weight: bold;
  }
  div {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 25px 20px 20px 5px;
    margin: 10px 20px 20px 30px;
    box-shadow: 3px 3px 12px #dfd8d8;
    i {
      font-size: 20px;
      color: gray;
      padding: 0 25px 0 30px;
    }
    .fa-house {
      color: $colorprimaire;
    }
    span {
      position: absolute;
      left: -12px;
      background-color: $colorprimaire;
      border-radius: 20px;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  .fonctionnement_select {
    background-color: #efe8f8;
  }
}

// restaurant

.restaurant {
  background-color: $colorbackgroundsection;
  .title_restaurant {
    padding: 50px 0px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
}

.section_card_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

// card restaurant
.card-restaurant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  width: 90%;
  box-shadow: 2px 2px 10px #bdbebe;
  margin-bottom: 20px;
  a {
    text-decoration: none;
  }
  .card-image-restaurant {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      position: absolute;
    }
    .encart_nouveau {
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 15px;
      color: #239b7e;
      background-color: #99e2d0;
      border-radius: 3px;
      padding: 7px 12px;
      font-weight: bold;
    }
  }

  .card-body-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
    .card-title-restaurant {
      color: black;
      h3 {
        margin: 0;
        padding-bottom: 5px;
      }
      p {
        font-size: 16px;
      }
    }
    .card-like-restaurant {
      margin-right: 10px;
      .like_animation {
        font-size: 25px;
        color: gray;
      }
      .like_animation_up {
        font-size: 25px;
        display: none;
        background: -webkit-linear-gradient($colorprimaire, $colorsecondaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

// animation like

.card-like-restaurant:active {
  .like_animation {
    display: none;
  }
  .like_animation_up {
    display: block !important;
  }
}

// footer

footer {
  background-color: $colorbackgroundfooter;
  color: white;
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  div h3 {
    font-family: "Shrikhand", sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 10px;
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        padding: 6px 0px;
        font-size: 16px;
        font-weight: 300;
        i {
          width: 16px;
          height: 16px;
          padding-right: 12px;
        }
        p {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
