// Importation librairie - roboto light/regular/bold - Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

$colorprimaire: #9356dc;
$colorsecondaire: #ff79da;
$colortertiaire: #99e2d0;
$colorbackgroundfooter: #353434;
$colorbackgroundsection: #f6f6f6;

// header

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  position: relative;
  img {
    max-width: 50%;
  }
  a {
    position: absolute;
    left: 20px;
    i {
      font-size: 30px;
      color: gray;
    }
  }
}

// entete menu

.entete_menu {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
  div {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    h3 {
      margin: 0;
      font-family: "Shrikhand", sans-serif;
    }
    i {
      color: gray;
      margin: 15px;
      font-size: 20px;
    }
  }
}

// footer

footer {
  background-color: $colorbackgroundfooter;
  color: white;
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  div h3 {
    font-family: "Shrikhand", sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 10px;
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        padding: 6px 0px;
        font-size: 16px;
        font-weight: 300;
        i {
          width: 16px;
          height: 16px;
          padding-right: 12px;
        }
        p {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
